body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background-color: #2E2E2E;
}
.fundo-escuro {
	background-color: #2E2E2E;
}

.div-central {
	margin-left: 30%;
	margin-top: 10%;
	width: 60%;
	height: 40%;
	background-color: #2E2E2E;
	font-size: 15px;
}

.div-central2 {
	margin-left: 20%;
	margin-top: 20%;
	width: 60%;
	height: 40%;
	background-color: #2E2E2E;
	font-size: 15px;
}

.centralizado {
	text-align: center;
	margin: 10% 10%;
}

.logo {
	margin-bottom: 20px;
	width: 350px;
	height: 200px;
}

@media ( max-width : 640px) {
	.div-central {
		width: 90%;
		margin-left: 5%;
	}
}